.compContainer {
    display: flex;
    flex-basis: 80%;
    flex-direction: column;
    align-items: center;
    background: var(--color-black);
    height: 100vh;
    overflow: auto;
  }

  .white{
      color: white;
  }