.compContainer {
  display: flex;
  flex-basis: 80%;
  align-items: center;
  background: var(--color-black);
  height: 100vh;
  overflow: auto;
}

.compForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid var(--color-blue);
  margin: 2vh 0;
  border-radius: 20px;
  height: 100vh;
  overflow: auto;
}

.compFormName {
  width: 100%;
  margin: 2vh 0;
}
.compFormName div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compFormPicks {
  width: 100%;
  margin: 2vh 0;
}

.compFormPicks div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vh 1vw;
}

.compFormTextArea {
  width: 100%;
  margin: 2vh 0;
}

.compFormTextArea div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compForm h1 {
  font-size: var(--font-title);
  color: var(--color-white);
  margin: 2vh 0;
  text-align: center;
}

.compForm button {
  margin: 2vh 0;
  padding: 1% 4%;
  border: none;
  background: var(--color-orange);
  color: var(--color-white);
  cursor: pointer;
}

.compForm button:hover {
  transition: ease-in-out 0.1s;
  background: var(--color-blue);
  color: var(--color-orange);
}

.compForm label {
  color: var(--color-white);
  font-size: var(--font-paragraph);
}

.compForm input {
  background: var(--color-blue);
  border: none;
  color: var(--color-gold);
  font-size: var(--font-paragraph);
  padding: 5px 10px;
  margin: 1vh 0;
  cursor: default;
  caret-color: transparent;
}

.compForm textarea {
  background: var(--color-blue);
  border: none;
  color: var(--color-gold);
  font-size: var(--font-paragraph);
  padding: 5px 10px;
  margin: 1vh 0;
  min-height: 20vh;
}

.deleteForm {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid var(--color-blue);
  margin: 2vh 0;
}

.deleteForm h1 {
  font-size: var(--font-title);
  color: var(--color-red);
  margin: 2vh 0;
}

.deleteForm button {
  margin: 2vh 0;
  padding: 1% 4%;
  border: none;
  background: var(--color-red);
  color: var(--color-white);
  cursor: pointer;
}

.deleteForm button:hover {
  background: var(--color-blue);
  color: var(--color-red);
}

.champContainer {
  width: 40%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.champContainerheader {
  position: fixed;
  width: 30vw;
  background: var(--color-black);
  margin: auto;
  padding: 1vh 0;
}

.champContainerheader h2 {
  font-size: var(--font-title-2);
  text-align: center;
  margin: 1vh 1vw;
  color: var(--color-white);
}

.champContainerheader input {
  width: 90%;
  margin: 1vh auto;
  display: flex;
  padding: 8px;
  font-size: var(--font-paragraph);
  border-radius: 10px;
}

.displayAllNamesContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 1vw;
  margin-top: 120px;
}

.displayAllNamesContent {
  margin: 5px;
  color: var(--color-white);
  background: var(--color-blue);
}

.draggingStyle {
  background: var(--color-black);
}

.champIcons {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
